
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    height: auto;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}
.header .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}
/* MENU */
.header .menu {
    display: flex;
    list-style-type: none;
    margin: 5px;
}

.header .menu li {
    align-self: center;
    
}

.header .menu a:link, a:visited {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}
.header .menu a:hover, a:active {
    text-decoration: none;
    color: #1F2937;
    background-color: white;
}

.header .menu li:first-child {
    font-size: 24px;
    margin: 0;
    margin-right: auto;
    
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero .txt  {
    max-width: 500px;
}

.hero .txt h1  {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .txt p  {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .txt button  {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .txt button:hover{
    color: white;
}

.hero .txt button:active{
    background-color: #E5E7EB;
    color: #1F2937;
}

.hero img {
    min-width: 0px;
    max-width: 500px;
}

/* BODY */
/* INFOS */
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.body .content{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .content div:first-child{
    display: flex;
    flex-direction: column;
    flex: auto;
}

.body .content h3{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 25px;
}

.body .content img {
    min-width: 0px;
    max-width: 150px;
}

.body .content .infos {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.body .content .infos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .content .infos p {
    text-align: center;
    font-size: 18px;
    max-width: 160px;
    color: #1F2937;
    margin-top: 10px;
}
/* DEPO */
.depo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 200px;
    min-width: 100%;
    margin-top: 75px;
}
.depo .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 600px;
}
/* ACTION */
.action {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.action .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #3882F6;
    border-radius: 5px;
    max-width: 1000px;
    margin-top: 75px;
}
.action .txt{
    padding: 25px;
    color: #E5E7EB;
    margin-right: auto;
}
.action .txt p:first-child{
    font-size: 24px;
}

.action button{
    background-color: #3882F6;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    color: #E5E7EB;
    padding: 10px 15px;
    margin: 25px;
    margin-left: 50px;
    font-size: 18px;
}
.action button:hover {
    border: 1px solid white;
    color: white;
}
.action button:active {
    border: 1px solid #E5E7EB;
    background-color: #E5E7EB;
    color: #3882F6;
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #c6c7ca;    
    margin-top: 75px;
}

.footer .content {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 50px;
}