
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    height: auto;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}
.header .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}
/* MENU */
.header .menu {
    display: flex;
    list-style-type: none;
    margin: 5px;
}

.header .menu li {
    align-self: center;
    
}

.header .menu a:link, a:visited {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}
.header .menu a:hover, a:active {
    text-decoration: none;
    color: #1F2937;
    background-color: white;
}

.header .menu li:first-child {
    font-size: 24px;
    margin: 0;
    margin-right: auto;
    
}

/* HERO */
.header .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header .hero .txt  {
    max-width: 500px;
}

.header .hero .txt h1  {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .hero .txt p  {
    font-size: 18px;
    color: #E5E7EB;
}

.header .hero .txt button  {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header .hero .txt button:hover{
    color: white;
}

.header .hero .txt button:active{
    background-color: #E5E7EB;
    color: #1F2937;
}

.header .hero img {
    min-width: 0px;
    max-width: 500px;
}